@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Shadow for svg */
.shadow {
  -webkit-filter: drop-shadow(0px 0px 10px #e0545e);
  filter: drop-shadow(0px 0px 10px #e0545e);
  /* Similar syntax to box-shadow */
}

.drag-progress-bg {
  background: #e8e8e8;
  margin: 0rem 2rem;
  height: 10px;
}

.drag-progress {
  width: 0px;
  background: white;
  height: 10px;
}

.Outter-DataVisualizer {
  /* padding-right: 4rem; */
}

.container {
  background: #19171f;
}

H1,
H2 {
  color: white;
  font-family: "Alata", sans-serif;
}

.h1-one {
  color: #fecf44;
  display: inline-block;
  font-size: 40px;
}

p,
li {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
  float: left;
  display: block;
  color: #dedede;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.4px;
}

ul {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.editor {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 2px solid #312e3a;
  background: #1d1a23;
  flex-direction: row;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #fdb160;
  text-decoration: underline;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Form styling */

label {
  color: #d4d4d4;
  font-weight: 500;
  font-size: 14px;
}
input[type="number"],
select {
  width: 100px;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  /* background: #2e2838; */
  text-align: center;
  background: #110e15;
  color: #cfd3d8;
  font-size: 14px;
  border-radius: 4px;
  border: 0px solid #393740;
}

input[type="number"]:focus,
select:focus {
  width: 100px;

  border: 1px solid #fca967;
  outline: none;
}

/* input,
input::placeholder {
  text-align: center;
}

input:focus {
  text-align: left;
} */

form {
  display: flex;
  flex-direction: row;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.wrap-dotsrenderer {
  border-radius: 5px;
  background: #302e3a;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  height: 200px;
  width: 500px;
  margin-right: 4rem;
}

.placeholder-text {
  color: #a2a2a2;
}

.wrap-labelinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-style,
.form-animation {
  width: 200px;
  box-sizing: unset;
}

.sublabel {
  margin: 0;
  color: #9e9e9e;
  font-size: 10px;
  width: 100%;
}

.color-trigger {
  width: 100px;
  height: 28px;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  /* color: #747474; */
  border-radius: 4px;
  background: linear-gradient(180deg, #302b38, #302b38);
  border: 1px solid #5f576b;
  cursor: pointer;
}

.hex-text {
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

code {
  background: unset !important;
  font-size: 14px !important;
}

.token {
  font-weight: unset !important;
  font-size: 14px;
}

.wrap-ease {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 28px;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  background: #1d1923;
  border: 1px solid #36313e;
}

.ease-left,
.ease-right {
  width: 50%;
  height: 100%;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #100f15;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1px;
  border-radius: 2px;
  font-size: 14px;
  height: 28px;
  border-radius: 4px;
}

.lmSPPo,
.bFNYQa {
  border: 0px;
}
